
menu "kandroid.org"


config CC_OPTIMIZE_FOR_SIZE
        bool  "Kernel size optimization"
	default y
	help
	  Optimize kernel size for embedded system
          Enabling this option will pass "-Os" instead of "-O2" to gcc
          resulting in a smaller kernel.
          Default is O2.
endmenu # end of "KANDROID Community" menu
